<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue_dome</title>
  </head>

  <body>
    <div id="app">
      <label for="fahrenheit">華氏</label>
      <input
        type="text"
        name="fahrenheit"
        id="fahrenheit"
        v-model="get_fahrenheit"
      />

      <label for="celsius">攝氏</label>
      <input type="text" name="celsius" id="celsius" v-model="get_celsius" />
    </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"
      integrity="sha512-PyKhbAWS+VlTWXjk/36s5hJmUJBxcGY/1hlxg6woHD/EONP2fawZRKmvHdTGOWPKTqk3CPSUPh7+2boIBklbvw=="
      crossorigin="anonymous"
    ></script>
    <script>
      new Vue({
        el: "#app",
        data() {
          return {
            base: 1,
            allchange: false,
          };
        },
        computed: {
          get_fahrenheit: {
            get: function () {
              return (this.base * 33.8).toFixed(2);
            },
            set: function (value) {
              this.base = (value / 33.8).toFixed(2);
            },
          },
          get_celsius: {
            get: function () {
              return this.base;
            },
            set: function (value) {
              console.log(value);
              this.base = value;
            },
          },
        },
        methods: {},
      });
    </script>
  </body>
</html>
